<link rel="stylesheet" href="/css/detail.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div id="page">
    <% if(locals.user) { %>
        <div id="main">
            <%if(habitList.length>0){%>
                <% for(habit of habitList){ %>
                    <div class="habitcontainer">
                        <div class="habit">
                            <div class="top">
                                <div class="habit_name">
                                    <%=habit.habitname%>
                                </div>
                                <div class="successdays">
                                   Success Days : <%=habit.success_Days %>
                                </div>
                            </div>
                            <hr>
                            <div class="report">
                                <% for(dates of habit.start){ %>
                                    <div class="start">
                                        <h5><%=dates.date%></h5>
                                        <% if(dates.action == "none") {%>
                                            <form action="/info/<%=user.id%>/active/<%=habit._id%>" method="post" id="formActivity">
                                                <input type="hidden" name="dayBefore" value="<%=dates.date%>">
                                                <button class="button">
                                                    <i class="fa-solid fa-minus" style="color: #1e00ff;"></i>
                                                </button>
                                            </form>
                                        <% } %>
                                        <% if(dates.action == "done") {%>
                                            <form action="/info/<%=user.id%>/active/<%=habit._id%>" method="post" id="formActivity">
                                                <input type="hidden" name="dayBefore" value="<%=dates.date%>">
                                                <button class="button">
                                                    <i class="fa-solid fa-check" style="color: #10d513;"></i>
                                                </button>
                                            </form>
                                        <% } %>
                                        <% if(dates.action == "not-done") {%>
                                            <form action="/info/<%=user.id%>/active/<%=habit._id%>" method="post" id="formActivity">
                                                <input type="hidden" name="dayBefore" value="<%=dates.date%>">
                                                <button class="button">
                                                    <i class="fa-solid fa-xmark" style="color: #ff0000;"></i>
                                                </button>
                                            </form>
                                        <% } %>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        <button class="delete">
                            <a href="/info/<%=user.id%>/delete/<%=habit.id%>">delete</a>
                        </button>
                    </div>
                <%}%>
            <%}%>
            
        </div>
        <form action="/info/<%=user.id%>/add" method="post" id="addwindow">
            <input type="text" name="habitname" placeholder="Enter habit name" id="habitval">
            <input type="submit" value="Save" id="save"></input>
            <a id="Cancel" href="http://localhost:8000/info">Cancel</a>
        </form>
        <div id="addshow">
            <button id="add">add habit</button>
            <!-- <button id="show">show description</button> -->
        </div>
    <%}%>
    <% if(!locals.user){ %>
        <h1 style="text-align: center; margin-top: 10rem;">Add your habit to check your consistency</h1>
        <div id="bottom">
            <a href="http://localhost:8000/users/sign-in">Login</a>
        </div>
    <% } %>
</div>
<script src="https://kit.fontawesome.com/a2466d3c1a.js" crossorigin="anonymous"></script>
<script src="/js/detail.js"></script>